# emacs
auto-save-list/
elpa/
places
recentf
snippets/
abbrev_defs
pyim/
eshell/
bookmarks
url/
eln-cache/
history
transient/
elpa-30.1/
custom.el
tutorial/
*~
tramp
.mc-lists.el
projects
org-persist
init.el
early-init.el
tsoding/build/
nob
plugins/*/target
lisp-site
rime
*.elc
.last-package-update-day
.venv
elfeed/
tree-sitter
